{% load static %}
<link href="{% static 'extend.css' %}" rel="stylesheet">

<div class="slider">

  <div class="slides">
    <div id="slide-1">
      <a href="/cubbox">
        <img src="media/sliderimg/idm_1708-300x300.jpeg">
          </a>
    </div>
    <div id="slide-2">
      <a href="/cubboxinsert">
        <img src="media/sliderimg/idm_1703-900x900.jpeg">
      </a>
    </div>
    <div id="slide-3">
      <a href="/case">
        <img src="media/sliderimg/idm_1737-900x900.jpeg">
      </a>
    </div>
    <div id="slide-4">
      <a href="/casketm">
        <img src="media/sliderimg/idm_2420-900x900.jpeg">
      </a>
    </div>
  </div>
</div>

