{% load static %}
<!DOCTYPE html>
<html>

<link href="{% static 'extend.css' %}" rel="stylesheet">
<div class="all_slider">
<div class="slider carousel-fade">
    <div class="slides">
      {% for slider in slider_list %}
        {% if slider.cms_construction == "Крышка-дно" %}
        <div id="{{ slider.cms_construction }}" class="carousel-item">
          <a href="{{ slider.cms_link }}">
            <img class="img-fluid" src="{{ slider.cms_img.url }}">
          </a>
        </div>
        {% endif %}
      {% endfor %}
    </div>
</div>

<div class="slider carousel-fade">
    <div class="slides">
      {% for slider in slider_list %}
        {% if slider.cms_construction == "Крышка-дно со вставкой" %}
        <div id="{{ slider.cms_construction }}" class="carousel-item">
          <a href="{{ slider.cms_link }}">
            <img class="img-fluid" src="{{ slider.cms_img.url }}">
          </a>
        </div>
        {% endif %}
      {% endfor %}
    </div>
</div>

<div class="slider carousel-fade">
    <div class="slides">
      {% for slider in slider_list %}
        {% if slider.cms_construction == "Пенал" %}
        <div id="{{ slider.cms_construction }}">
          <a href="{{ slider.cms_link }}">
            <img src="{{ slider.cms_img.url }}">
          </a>
        </div>
        {% endif %}
      {% endfor %}
    </div>
</div>
<br>
<div class="slider-2 carousel-fade">
    <div class="slides">
      {% for slider in slider_list %}
        {% if slider.cms_construction == "Шкатулка на магнитах" %}
        <div id="{{ slider.cms_construction }}">
          <a href="{{ slider.cms_link }}">
            <img src="{{ slider.cms_img.url }}">
          </a>
        </div>
        {% endif %}
      {% endfor %}
    </div>
</div>

<div class="slider-2 carousel-fade">
    <div class="slides">
      {% for slider in slider_list %}
        {% if slider.cms_construction == "Портфель на магнитах" %}
        <div id="{{ slider.cms_construction }}">
          <a href="{{ slider.cms_link }}">
            <img src="{{ slider.cms_img.url }}">
          </a>
        </div>
        {% endif %}
      {% endfor %}
    </div>
</div>
</div>
<style>
  .all_slider {
    position: absolute;
    top: 25%;
    left: 25%;
    margin: -50px 0 0 -50px;
  }

</style>
</html>

