{% extends 'base.html' %}
{% block title %} Cub Box {% endblock %}
{% load static %}
{% block params %}
<link href="{% static 'style.css' %}" rel="stylesheet">

<form action="{% url 'case' %}" method="POST">
    {% csrf_token %}
<center>

    <input type="hidden" name="construction" value="Пенал"><h2>Пенал</h2>
    <input type="hidden" name="namepage" value="case">
{% if cur_euro %}
        <h5>Курс евро <input class="text" id="c" type="text" placeholder="{{ cur_euro }}" name="currency" value="{{ cur_euro }}"/></h5>
    {% else %}
        <h5>Курс евро <input class="text" id="c_2" type="text" placeholder="" name="currency" required="required"/></h5>
    {% endif %}
    <div class="main">

<div class="field">
      <input class="text" id="w" placeholder="Ширина мм." name="width" required="required"/>
      <input class="text" id="ln" placeholder="Длина мм." name="length" required="required"/>
      <input class="text" id="h" placeholder="Высота дна мм." name="hight" required="required" />
</div>

    {% include 'material.html' %}
    <input class="text" id="k" placeholder="Тираж шт." name="kol" required="required" />
    <button class="button" type="submit">Рассчитать</button>
    </div>
</center>
</form>
{% endblock %}


{% block result %}

<center>
    {% if info %}
        <br>{{ info }}
        <br>{{ expence }}
        <br>{{ work }}
        <br>{{ prices }}
        <br>{{ priceshtamp }}

    <h6><br>Информация о деталях:
    <br>Картон {{ infocb }}
    <br>Бумага {{ infotpap }}
    </h6>

    {% else %}
    <br><b>{{ ex }}</b>
    {% endif %}

</center>

{% endblock %}
