{% extends 'base.html' %}
{% block title %} Cub Box {% endblock %}
{% load static %}
{% block params %}
<link href="{% static 'style.css' %}" rel="stylesheet">

<form action="{% url 'cubboxinsert' %}" method="POST">
    {% csrf_token %}
<center>

    <input type="hidden" name="construction" value="Крышка-дно со вставкой"><h2>Крышка-дно со вставкой</h2>
    <input type="hidden" name="namepage" value="cubboxinsert">
{% if cur_euro %}
        <h5>Курс евро <input class="text" id="c" type="text" placeholder="{{ cur_euro }}" name="currency" value="{{ cur_euro }}"/></h5>
    {% else %}
        <h5>Курс евро <input class="text" id="c_2" type="text" placeholder="" name="currency" required="required"/></h5>
    {% endif %}
    <div class="main">

<div class="field">
      <input class="text" id="w" placeholder="Ширина мм." name="width" required="required"/>
      <input class="text" id="ln" placeholder="Длина мм." name="length" required="required"/>
      <br><input class="text" id="h" placeholder="Высота дна мм." name="height" required="required" />
      <input class="text" id="th" placeholder="Высота крышки мм." name="lid_height" required="required" />
      <input class="text" id="ih" placeholder="Высота вставки мм." name="insert_height" required="required" />
</div>

    {% include 'material.html' %}
    {% include 'laminating_lid.html' %}
    {% include 'laminating_insert.html' %}
    {% include 'feature.html' %}
    <input class="text" id="k" placeholder="Тираж шт." name="kol" required="required" />
    <input class="text" id="co" placeholder="Наценка %" name="uppercost" required="required" />
    <button class="button" type="submit">Рассчитать</button>
    </div>
</center>
</form>
<script>
    w.value = localStorage.getItem('w');
    w.oninput = () => {
      localStorage.setItem('w', w.value)
    };
    ln.value = localStorage.getItem('ln');
    ln.oninput = () => {
      localStorage.setItem('ln', ln.value)
    };
    h.value = localStorage.getItem('h');
    h.oninput = () => {
      localStorage.setItem('h', h.value)
    };
    k.value = localStorage.getItem('k');
    k.oninput = () => {
      localStorage.setItem('k', k.value)
    };
    th.value = localStorage.getItem('th');
    th.oninput = () => {
      localStorage.setItem('th', th.value)
    };
    ih.value = localStorage.getItem('ih');
    ih.oninput = () => {
      localStorage.setItem('ih', ih.value)
    };
    co.value = localStorage.getItem('co');
    co.oninput = () => {
      localStorage.setItem('co', co.value)
    };
</script>
{% endblock %}

