{% load static %}
<link href="{% static 'laminating.css' %}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<h4>Внутренняя кашировка крышки</h4>
<div class="laminatinglid_mat">
  <input id="laminatinglidno" type="checkbox" name="laminatinglid" value="без кашировки">Нет
  <input id="laminatinglid" type="checkbox" name="laminatinglid" value="Офсетная бумага с ламинацией">Офсетная бумага с ламинацией
  {% for mat_pap in paper_list %}
    <input id="{{mat_pap.mt_name}}l" type="checkbox" name="laminatinglid" value="{{mat_pap.mt_name}}"> {{mat_pap.mt_name}}
  {% endfor %}
  <input id="laminatinglidnew" type="checkbox" name="laminatinglid">Свое
</div>
<br>
<div id="textlaminatinglid" class="block" style="display:none">
  <div class="laminatinglid2">
    <input id="laminatinglidname" type="text" class="laminatinglidname" name="laminatinglidname" placeholder="Название" title="Наименование материала">
    <input id="laminatinglidx" type="text" class="laminatinglidx" name="laminatinglidx" placeholder="Ширина" title="Ширина листа в мм" maxlength="4">х
    <input id="laminatinglidy" type="text" class="laminatinglidy" name="laminatinglidy" placeholder="Длина" title="Длина листа в мм" maxlength="4">
    <input id="laminatinglidl" type="hidden" class="laminatinglidl" name="laminatinglidl" placeholder="Толщина" title="Толщина материала в мм" maxlength="3" value="0.15">
    <input id="laminatinglidprice" type="text" class="laminatinglidprice" name="laminatinglidprice" placeholder="Цена" title="Цена за листа">
    <select class="laminatinglidcurrency" name="laminatinglidcurrency" title="Валюта стоимости материала">
        <option value="rub">rub</option>
        <option value="euro">euro</option>
    </select>
  </div>
</div>


<script>

        // Lid
        $('document').ready(function(){
            // Ppaper laminating data
            var local_laminatinglidname = localStorage.getItem('laminatinglidname');
            var local_laminatinglidx = localStorage.getItem('laminatinglidx');
            var local_laminatinglidy = localStorage.getItem('laminatinglidy');
            var local_laminatinglidprice = localStorage.getItem('laminatinglidprice');

            // --- Remember input new paper laminating
            laminatinglidname.value = local_laminatinglidname;
            laminatinglidname.oninput = () => {
              localStorage.setItem('laminatinglidname', laminatinglidname.value)
            };
            laminatinglidx.value = local_laminatinglidx;
            laminatinglidx.oninput = () => {
              localStorage.setItem('laminatinglidx', laminatinglidx.value)
            };
            laminatinglidy.value = local_laminatinglidy;
            laminatinglidy.oninput = () => {
              localStorage.setItem('laminatinglidy', laminatinglidy.value)
            };
            laminatinglidprice.value = local_laminatinglidprice;
            laminatinglidprice.oninput = () => {
              localStorage.setItem('laminatinglidprice', laminatinglidprice.value)
            };

            var checkBox = document.getElementById("laminatinglidnew");
            var block = document.getElementById("textlaminatinglid");
            // If the checkbox is checked, display the output text
            if (checkBox.checked == true){
                block.style.display = "block";
            } else {
                block.style.display = "none";
            }

            // --- Join paper new laminating ---
            if(document.getElementById("laminatinglidnew").checked){

                var laminatinglidl = $(".laminatinglidl").val();
                var laminatinglidcurrency = $(".laminatinglidcurrency").val();
                $("#laminatinglidnew").val(local_laminatinglidname+";"+local_laminatinglidx+";"+local_laminatinglidy+";"+laminatinglidl+";"+local_laminatinglidprice+";"+laminatinglidcurrency);
            };
        });

        $(".laminatinglid_mat input").on("click", function() {
            $(".laminatinglid_mat input").removeAttr("checked"); // Снимаем чекбокс со всей группы
            $(this).prop("checked", true); // Оставляем выбранный чекбокс
        });

        // --- Remember checkbox paper ---
        var list_id_paper_laminating = []
        {% for mat_pap in paper_list %}
            list_id_paper_laminating.push("{{mat_pap.mt_name}}" + "l")
        {% endfor %}
        list_id_paper_laminating.push("laminatinglidno")
        list_id_paper_laminating.push("laminatinglid")
        list_id_paper_laminating.push("laminatinglidnew")

        {% for mat_pap in paper_list %}
        document.getElementById('{{mat_pap.mt_name}}' + 'l').onclick = function() {
            var block = document.getElementById("textlaminatinglid");
            block.style.display = "none";

            var new_list_id_paper_laminat = list_id_paper_laminating.filter(item => item !== '{{mat_pap.mt_name}}'+'l');
            for (let i = 0; i < new_list_id_paper_laminat.length; i++) {
               localStorage.removeItem(new_list_id_paper_laminat[i]);
            }
            if(document.getElementById('{{mat_pap.mt_name}}' + 'l').checked) {
                localStorage.setItem('{{mat_pap.mt_name}}' + 'l', "true");
            } else {
                localStorage.setItem('{{mat_pap.mt_name}}' + 'l', "false");
            }
            //
        }
        if (localStorage.getItem('{{mat_pap.mt_name}}' + 'l') == "true") {
            document.getElementById("{{mat_pap.mt_name}}" + "l").setAttribute('checked','checked');
        };
        {% endfor %}

        document.getElementById('laminatinglidnew').onclick = function() {
            var new_list_id_paper_laminat = list_id_paper_laminating.filter(item => item !== 'laminatinglidnew');
            for (let i = 0; i < new_list_id_paper_laminat.length; i++) {
               localStorage.removeItem(new_list_id_paper_laminat[i]);
            }
            if(document.getElementById('laminatinglidnew').checked) {
                localStorage.setItem('laminatinglidnew', "true");
            } else {
                localStorage.setItem('laminatinglidnew', "false");
            }
        }
        if (localStorage.getItem('laminatinglidnew') == "true") {
            document.getElementById("laminatinglidnew").setAttribute('checked','checked');
        };

        document.getElementById('laminatinglidno').onclick = function() {
            var block = document.getElementById("textlaminatinglid");
            block.style.display = "none";

            var new_list_id_paper_laminat = list_id_paper_laminating.filter(item => item !== 'laminatinglidno');
            for (let i = 0; i < new_list_id_paper_laminat.length; i++) {
               localStorage.removeItem(new_list_id_paper_laminat[i]);
            }
            if(document.getElementById('laminatinglidno').checked) {
                localStorage.setItem('laminatinglidno', "true");
            } else {
                localStorage.setItem('laminatinglidno', "false");
            }
        }
        if (localStorage.getItem('laminatinglidno') == "true") {
            document.getElementById("laminatinglidno").setAttribute('checked','checked');
        };

        document.getElementById('laminatinglid').onclick = function() {
            var block = document.getElementById("textlaminatinglid");
            block.style.display = "none";

            var new_list_id_paper_laminat = list_id_paper_laminating.filter(item => item !== 'laminatinglid');
            for (let i = 0; i < new_list_id_paper_laminat.length; i++) {
               localStorage.removeItem(new_list_id_paper_laminat[i]);
            }
            if(document.getElementById('laminatinglid').checked) {
                localStorage.setItem('laminatinglid', "true");
            } else {
                localStorage.setItem('laminatinglid', "false");
            }
        }
        if (localStorage.getItem('laminatinglid') == "true") {
            document.getElementById("laminatinglid").setAttribute('checked','checked');
        };

        // Paper new click
        document.getElementById('laminatinglidnew').addEventListener("click", function(){
          var checkBox = document.getElementById("laminatinglidnew");
          var block = document.getElementById("textlaminatinglid");
          // If the checkbox is checked, display the output text
          if (checkBox.checked == true){
            block.style.display = "block";
          } else {
            block.style.display = "none";
          }
        });

</script>