{% load static %}
<link href="{% static 'laminating.css' %}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<h4>Внутренняя кашировка дна</h4>
<div class="laminatingtray_mat">
  <input id="laminatingtrayno" type="checkbox" name="laminatingtray" value="без кашировки">Нет
  <input id="laminatingtray" type="checkbox" name="laminatingtray" value="Офсетная бумага с ламинацией">Офсетная бумага с ламинацией
  {% for mat_pap in paper_list %}
      <input id="{{mat_pap.mt_name}}t" type="checkbox" name="laminatingtray" value="{{mat_pap.mt_name}}"> {{mat_pap.mt_name}}
  {% endfor %}

  <input id="laminatingtraynew" type="checkbox" name="laminatingtray">Свое
</div>
<br>
<div id="textlaminatingtray" class="block" style="display:none">
  <div class="laminatingtray2">
    <input id="laminatingtrayname" type="text" class="laminatingtrayname" name="laminatingtrayname" placeholder="Название" title="Наименование материала">
    <input id="laminatingtrayx" type="text" class="laminatingtrayx" name="laminatingtrayx" placeholder="Ширина" title="Ширина листа в мм" maxlength="4">х
    <input id="laminatingtrayy" type="text" class="laminatingtrayy" name="laminatingtrayy" placeholder="Длина" title="Длина листа в мм" maxlength="4">
    <input id="laminatingtrayl" type="hidden" class="laminatingtrayl" name="laminatingtrayl" placeholder="Толщина" title="Толщина материала в мм" maxlength="3" value="0.15">
    <input id="laminatingtrayprice" type="text" class="laminatingtrayprice" name="laminatingtrayprice" placeholder="Цена" title="Цена за листа">
    <select class="laminatingtraycurrency" name="laminatingtraycurrency" title="Валюта стоимости материала">
        <option value="rub">rub</option>
        <option value="euro">euro</option>
    </select>
  </div>
</div>

<script>
        //Tray
        $('document').ready(function(){
            // Ppaper laminating data
            var local_laminatingtrayname = localStorage.getItem('laminatingtrayname');
            var local_laminatingtrayx = localStorage.getItem('laminatingtrayx');
            var local_laminatingtrayy = localStorage.getItem('laminatingtrayy');
            var local_laminatingtrayprice = localStorage.getItem('laminatingtrayprice');

            // --- Remember input new paper laminating
            laminatingtrayname.value = local_laminatingtrayname;
            laminatingtrayname.oninput = () => {
              localStorage.setItem('laminatingtrayname', laminatingtrayname.value)
            };
            laminatingtrayx.value = local_laminatingtrayx;
            laminatingtrayx.oninput = () => {
              localStorage.setItem('laminatingtrayx', laminatingtrayx.value)
            };
            laminatingtrayy.value = local_laminatingtrayy;
            laminatingtrayy.oninput = () => {
              localStorage.setItem('laminatingtrayy', laminatingtrayy.value)
            };
            laminatingtrayprice.value = local_laminatingtrayprice;
            laminatingtrayprice.oninput = () => {
              localStorage.setItem('laminatingtrayprice', laminatingtrayprice.value)
            };

            var checkBox = document.getElementById("laminatingtraynew");
            var block = document.getElementById("textlaminatingtray");
            // If the checkbox is checked, display the output text
            if (checkBox.checked == true){
                block.style.display = "block";
            } else {
                block.style.display = "none";
            }

        });

        $(".laminatingtray_mat input").on("click", function() {
            $(".laminatingtray_mat input").removeAttr("checked"); // Снимаем чекбокс со всей группы
            $(this).prop("checked", true); // Оставляем выбранный чекбокс
        });

        // --- Remember checkbox paper ---
        var list_id_paper_laminating_tray = []
        {% for mat_pap in paper_list %}
            list_id_paper_laminating_tray.push("{{mat_pap.mt_name}}" + "t")
        {% endfor %}
        list_id_paper_laminating_tray.push("laminatingtrayno")
        list_id_paper_laminating_tray.push("laminatingtray")
        list_id_paper_laminating_tray.push("laminatingtraynew")

        {% for mat_pap in paper_list %}
        document.getElementById('{{mat_pap.mt_name}}' + 't').onclick = function() {
            var block = document.getElementById("textlaminatingtray");
            block.style.display = "none";

            var new_list_id_paper_laminat = list_id_paper_laminating_tray.filter(item => item !== '{{mat_pap.mt_name}}'+'t');
            for (let i = 0; i < new_list_id_paper_laminat.length; i++) {
               localStorage.removeItem(new_list_id_paper_laminat[i]);
            }
            if(document.getElementById('{{mat_pap.mt_name}}' + 't').checked) {
                localStorage.setItem('{{mat_pap.mt_name}}' + 't', "true");
            } else {
                localStorage.setItem('{{mat_pap.mt_name}}' + 't', "false");
            }
            //
        }
        if (localStorage.getItem('{{mat_pap.mt_name}}' + 't') == "true") {
            document.getElementById("{{mat_pap.mt_name}}" + "t").setAttribute('checked','checked');
        };
        {% endfor %}

        document.getElementById('laminatingtraynew').onclick = function() {
            var new_list_id_paper_laminat = list_id_paper_laminating_tray.filter(item => item !== 'laminatingtraynew');
            for (let i = 0; i < new_list_id_paper_laminat.length; i++) {
               localStorage.removeItem(new_list_id_paper_laminat[i]);
            }
            if(document.getElementById('laminatingtraynew').checked) {
                localStorage.setItem('laminatingtraynew', "true");
            } else {
                localStorage.setItem('laminatingtraynew', "false");
            }
        }
        if (localStorage.getItem('laminatingtraynew') == "true") {
            document.getElementById("laminatingtraynew").setAttribute('checked','checked');
        };

        document.getElementById('laminatingtrayno').onclick = function() {
            var block = document.getElementById("textlaminatingtray");
            block.style.display = "none";

            var new_list_id_paper_laminat = list_id_paper_laminating_tray.filter(item => item !== 'laminatingtrayno');
            for (let i = 0; i < new_list_id_paper_laminat.length; i++) {
               localStorage.removeItem(new_list_id_paper_laminat[i]);
            }
            if(document.getElementById('laminatingtrayno').checked) {
                localStorage.setItem('laminatingtrayno', "true");
            } else {
                localStorage.setItem('laminatingtrayno', "false");
            }
        }
        if (localStorage.getItem('laminatingtrayno') == "true") {
            document.getElementById("laminatingtrayno").setAttribute('checked','checked');
        };

        document.getElementById('laminatingtray').onclick = function() {
            var block = document.getElementById("textlaminatingtray");
            block.style.display = "none";

            var new_list_id_paper_laminat = list_id_paper_laminating_tray.filter(item => item !== 'laminatingtray');
            for (let i = 0; i < new_list_id_paper_laminat.length; i++) {
               localStorage.removeItem(new_list_id_paper_laminat[i]);
            }
            if(document.getElementById('laminatingtray').checked) {
                localStorage.setItem('laminatingtray', "true");
            } else {
                localStorage.setItem('laminatingtray', "false");
            }
        }
        if (localStorage.getItem('laminatingtray') == "true") {
            document.getElementById("laminatingtray").setAttribute('checked','checked');
        };

        // Paper new click
        document.getElementById('laminatingtraynew').addEventListener("click", function(){
          var checkBox = document.getElementById("laminatingtraynew");
          var block = document.getElementById("textlaminatingtray");
          // If the checkbox is checked, display the output text
          if (checkBox.checked == true){
            block.style.display = "block";
          } else {
            block.style.display = "none";
          }
        });

</script>