{% load static %}
<link href="{% static 'laminating.css' %}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<h4>Внутренняя кашировка вставки</h4>
<div class="laminatinginsert_mat">
  <input id="laminatinginsertno" type="checkbox" name="laminatingtray" value="без кашировки">Нет
  <input id="laminatinginsert" type="checkbox" name="laminatingtray" value="Офсетная бумага с ламинацией">Офсетная бумага с ламинацией
  {% for mat_pap in paper_list %}
    <input id="{{mat_pap.mt_name}}t" type="checkbox" name="laminatingtray" value="{{mat_pap.mt_name}}"> {{mat_pap.mt_name}}
  {% endfor %}
  <input id="laminatinginsertnew" type="checkbox" name="laminatingtray">Свое
</div>
<br>
<div id="textlaminatinginsert" class="block" style="display:none">
  <div class="laminatinginsert2">
    <input id="laminatinginsertname" type="text" class="laminatinginsertname" name="laminatinginsertname" placeholder="Название" title="Наименование материала">
    <input id="laminatinginsertx" type="text" class="laminatinginsertx" name="laminatinginsertx" placeholder="Ширина" title="Ширина листа в мм" maxlength="4">х
    <input id="laminatinginserty" type="text" class="laminatinginserty" name="laminatinginserty" placeholder="Длина" title="Длина листа в мм" maxlength="4">
    <input id="laminatinginsertl" type="hidden" class="laminatinginsertl" name="laminatinginsertl" placeholder="Толщина" title="Толщина материала в мм" maxlength="3" value="0.15">
    <input id="laminatinginsertprice" type="text" class="laminatinginsertprice" name="laminatinginsertprice" placeholder="Цена" title="Цена за листа">
    <select class="laminatinginsertcurrency" name="laminatinginsertcurrency" title="Валюта стоимости материала">
        <option value="rub">rub</option>
        <option value="euro">euro</option>
    </select>
  </div>
</div>


<script>

        // Insert
        $('document').ready(function(){
            // Ppaper laminating data
            var local_laminatinginsertname = localStorage.getItem('laminatinginsertname');
            var local_laminatinginsertx = localStorage.getItem('laminatinginsertx');
            var local_laminatinginserty = localStorage.getItem('laminatinginserty');
            var local_laminatinginsertprice = localStorage.getItem('laminatinginsertprice');

            // --- Remember input new paper laminating
            laminatinginsertname.value = local_laminatinginsertname;
            laminatinginsertname.oninput = () => {
              localStorage.setItem('laminatinginsertname', laminatinginsertname.value)
            };
            laminatinginsertx.value = local_laminatinginsertx;
            laminatinginsertx.oninput = () => {
              localStorage.setItem('laminatinginsertx', laminatinginsertx.value)
            };
            laminatinginserty.value = local_laminatinginserty;
            laminatinginserty.oninput = () => {
              localStorage.setItem('laminatinginserty', laminatinginserty.value)
            };
            laminatinginsertprice.value = local_laminatinginsertprice;
            laminatinginsertprice.oninput = () => {
              localStorage.setItem('laminatinginsertprice', laminatinginsertprice.value)
            };

            var checkBox = document.getElementById("laminatinginsertnew");
            var block = document.getElementById("textlaminatinginsert");
            // If the checkbox is checked, display the output text
            if (checkBox.checked == true){
                block.style.display = "block";
            } else {
                block.style.display = "none";
            }

        });

        $(".laminatinginsert_mat input").on("click", function() {
            $(".laminatinginsert_mat input").removeAttr("checked"); // Снимаем чекбокс со всей группы
            $(this).prop("checked", true); // Оставляем выбранный чекбокс
        });

        // --- Remember checkbox paper ---
        var list_id_paper_laminating_insert = []
        {% for mat_pap in paper_list %}
            list_id_paper_laminating_insert.push("{{mat_pap.mt_name}}" + "t")
        {% endfor %}
        list_id_paper_laminating_insert.push("laminatinginsertno")
        list_id_paper_laminating_insert.push("laminatinginsert")
        list_id_paper_laminating_insert.push("laminatinginsertnew")

        {% for mat_pap in paper_list %}
        document.getElementById('{{mat_pap.mt_name}}' + 't').onclick = function() {
            var block = document.getElementById("textlaminatinginsert");
            block.style.display = "none";

            var new_list_id_paper_laminat = list_id_paper_laminating_insert.filter(item => item !== '{{mat_pap.mt_name}}'+'t');
            for (let i = 0; i < new_list_id_paper_laminat.length; i++) {
               localStorage.removeItem(new_list_id_paper_laminat[i]);
            }
            if(document.getElementById('{{mat_pap.mt_name}}' + 't').checked) {
                localStorage.setItem('{{mat_pap.mt_name}}' + 't', "true");
            } else {
                localStorage.setItem('{{mat_pap.mt_name}}' + 't', "false");
            }
            //
        }
        if (localStorage.getItem('{{mat_pap.mt_name}}' + 't') == "true") {
            document.getElementById("{{mat_pap.mt_name}}" + "t").setAttribute('checked','checked');
        };
        {% endfor %}

        document.getElementById('laminatinginsertnew').onclick = function() {
            var new_list_id_paper_laminat = list_id_paper_laminating_insert.filter(item => item !== 'laminatinginsertnew');
            for (let i = 0; i < new_list_id_paper_laminat.length; i++) {
               localStorage.removeItem(new_list_id_paper_laminat[i]);
            }
            if(document.getElementById('laminatinginsertnew').checked) {
                localStorage.setItem('laminatinginsertnew', "true");
            } else {
                localStorage.setItem('laminatinginsertnew', "false");
            }
        }
        if (localStorage.getItem('laminatinginsertnew') == "true") {
            document.getElementById("laminatinginsertnew").setAttribute('checked','checked');
        };

        document.getElementById('laminatinginsertno').onclick = function() {
            var block = document.getElementById("textlaminatinginsert");
            block.style.display = "none";

            var new_list_id_paper_laminat = list_id_paper_laminating_insert.filter(item => item !== 'laminatinginsertno');
            for (let i = 0; i < new_list_id_paper_laminat.length; i++) {
               localStorage.removeItem(new_list_id_paper_laminat[i]);
            }
            if(document.getElementById('laminatinginsertno').checked) {
                localStorage.setItem('laminatinginsertno', "true");
            } else {
                localStorage.setItem('laminatinginsertno', "false");
            }
        }
        if (localStorage.getItem('laminatinginsertno') == "true") {
            document.getElementById("laminatinginsertno").setAttribute('checked','checked');
        };

        document.getElementById('laminatinginsert').onclick = function() {
            var block = document.getElementById("textlaminatinginsert");
            block.style.display = "none";

            var new_list_id_paper_laminat = list_id_paper_laminating_insert.filter(item => item !== 'laminatinginsert');
            for (let i = 0; i < new_list_id_paper_laminat.length; i++) {
               localStorage.removeItem(new_list_id_paper_laminat[i]);
            }
            if(document.getElementById('laminatinginsert').checked) {
                localStorage.setItem('laminatinginsert', "true");
            } else {
                localStorage.setItem('laminatinginsert', "false");
            }
        }
        if (localStorage.getItem('laminatinginsert') == "true") {
            document.getElementById("laminatinginsert").setAttribute('checked','checked');
        };

        // Paper new click
        document.getElementById('laminatinginsertnew').addEventListener("click", function(){
          var checkBox = document.getElementById("laminatinginsertnew");
          var block = document.getElementById("textlaminatinginsert");
          // If the checkbox is checked, display the output text
          if (checkBox.checked == true){
            block.style.display = "block";
          } else {
            block.style.display = "none";
          }
        });

</script>