.select {
            width: 100px;
    }
.select-field-1 {
            margin-top: 10px;
            width: 100px;
    }
.select-field-2 {
            margin-top: 10px;
            width: 200px;
    }
.button {
            width: 100px;
            margin-bottom: 5px;

    }
.text {
            margin-top: 5px;
            width: 100px;
    }
.field{
            margin-top: 5px;
    }
.main{
            background-color: whitesmoke;
            list-style-type: none;
            border-radius: 3px;

    }

.slaider_h {
	height: 60px;
	width: 50%;
	margin: 30px 0px 10px 0px;
	padding-top: 20px;
	background-color: rgba(10, 77, 125, 0.5);
	text-align: center;
}


